@tailwind base;
@tailwind components;
@tailwind utilities;

button.wallet-adapter-button-trigger {
  cursor: pointer;
  color: rgb(var(--foreground-rgb)) !important;
  border: 1px solid rgb(var(--tertiary-background-rgb)) !important;
  border-radius: var(--border-radius) !important;
  background-color: rgb(var(--secondary-background-rgb)) !important;
}

button.wallet-adapter-button-trigger:hover {
  background-color: rgb(var(--hover-background-rgb)) !important;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: spinner;
  -moz-appearance: textfield;
}

.input-number {
  -moz-appearance: textfield;
}